<%= render @user %>
<div class="container-buttons">
  <%= link_to ' Edit', edit_user_path(@user),class: "btn btn-secondary fa fa-pencil btn-lg" %>
  <%= button_to " Delete", @user, method: :delete, class: "btn btn-danger fa fa-trash btn-lg" %>
</div>